<h1><%= @airport.name %></h1>
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-9">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div class="col-md-3" id="weather-data">
  <h3>Weather</h3>
  <%= image_tag("loader.gif", :id => 'next_page_spinner') %>
</div>

</div>
<%= link_to 'Back', airports_path %>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<script>
  var url =<%=raw "'http://api.openweathermap.org/data/2.5/weather?lat=#{@airport.latitude_deg}&lon=#{@airport.longitude_deg}';" %>
  window.getWeather(url);
</script>
