<h1><%= @airport.name %></h1>
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-9">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div class="col-md-3">
  <h3>Weather</h3>
  Wind
  <ul>
    <li>Wind speed: <%= @weather["wind"]["speed"] %> MPH</li>
    <li>Wind direction: <%= compass_point(@weather["wind"]["deg"]) %></li>
  </ul>
  Temperature
  <ul>
    <li>Current: <%= kelvin_to_fahrenheit(@weather["main"]["temp"]) %>&deg;F</li>
    <li>Low: <%= kelvin_to_fahrenheit(@weather["main"]["temp_min"]) %>&deg;F</li>
    <li>High: <%= kelvin_to_fahrenheit(@weather["main"]["temp_max"]) %>&deg;F</li>
  </ul>
</div>

</div>
<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>



